@model JointTrips.Models.Trip

@{
	ViewData["Title"] = "Details";
	var currentUserId = User.Identity.IsAuthenticated ? User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value : null;
	var isOwner = Model.OwnerId == currentUserId;
	var participantCount = Model.Participants?.Count ?? 0;
	var isFull = participantCount >= Model.Capacity;
	var isParticipant = Model.Participants.Any(p => p.Id == currentUserId);
}

<h1>Details</h1>

<div>
	<h4>Trip</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Title)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Title)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Description)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Description)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Destination)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Destination)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Date)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Date)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Capacity)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Capacity)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Owner)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Owner.NormalizedEmail)
		</dd>
	</dl>
</div>
<div>
	@{
		if (isOwner)
		{
			<a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
			<a asp-action="Delete" asp-route-id="@Model?.Id">Delete</a>
		}
	}

	@if (isParticipant)
	{
		<a asp-action="Leave" asp-route-id="@Model.Id" class="btn btn-outline-warning">
			<button type="submit" class="btn btn-danger">Leave Trip</button>
		</a>
	}
	else if (!isFull)
	{
		<form asp-action="Join" asp-route-id="@Model.Id" class="btn btn-primary">
			<button type="submit" class="btn btn-success">Join Trip</button>
		</form>
	}
	else
	{
		<div class="alert alert-warning mb-1">This trip is full.</div>
	}
	
	<a asp-action="Index">Back to List</a>
</div>
